body * {
        font-family:"Consolas","Microsoft Yahei", Arial, sans-serif;
    }
    body {
    background: white;
    margin: 0;
    padding: 0;
    }
    .container {
    opacity: 0;
    width: 600px;
    margin: 0 auto 0px;
    margin-top: 0px;
    /* margin-top: 300px; */
    padding: 4px 10px;
    border: 1px solid #CCCCCC;
    overflow: visible;  border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px #CCC;
    }
    .container>.title {
    color: #8C8C8C;
    font-weight: bold;
    background: #FFF;
    padding: 15px 15px;
    text-align: center;
    font-size: 25px;
    border-radius: 4px 4px 4px 4px;
    margin-top: 10px;
    }
    .notify {
      color: #000;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
    .jump{
      color: #8C8C8C;
      font-size: 12px;
      text-align: center;
      margin-bottom: 15px;
    }